@import "../../styles/variables";

.wrapper {
    position: relative;
    color: $primary-color;
    font-size: 56px;
    line-height: 120%;
    font-weight: 700;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -80px;
        height: 100%;
        width: 5px;
        // transform: rotate(180deg);
        background: linear-gradient(180deg,rgba(56, 119, 238, 1) 0%, rgba(239, 93, 168, 1) 100%);
    }
}
