@import './_reset.scss';
@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    color: $primary-color;
    font-family: "PT Sans", sans-serif;
}